.angular-leaflet-map{
  height: 400px;
  max-height: 400px;
}

md-dialog-content{
  img{
    max-height: 500px;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
  }
  .map-container{
    width: 100%;
  }
}
