md-dialog
  md-toolbar.md-accent
    .md-toolbar-tools
      span(flex)
      md-button.md-icon-button(ng-click="close()")
        md-icon close

  md-dialog-content(layout-xs="column" layout-sm"column" layout-gt-sm="row" layout-align="space-between start" layout-padding)
    div(flex-xs="none" flex-gt-sm="")
      img(src="{{card.image}}")
    div(flex-xs="none" flex-gt-sm="" layout-padding)
      h3 {{card.title}}
      p {{card.info}}
    .map-container(flex-xs="none" flex-gt-sm="")
      leaflet(center="center")
