md-dialog
  md-toolbar.md-accent
    .md-toolbar-tools
      span(flex)
      md-button.md-icon-button(ng-click="close()")
        md-icon close
  md-dialog-content(layout-padding)
    h3 Contested resources and everyday practices in the urban.
    p Turn the cards, explore the city. Once you have a match, click on the pictures for more info!
    p(hide-gt-xs) For a better user experience, use a bigger screen if possible.

  md-dialog-actions(ng-click="close()")
    md-button start
