doctype html
html(ng-app='app', lang='en' ng-cloak)
  head
    meta(charset='UTF-8')
    title waterpower
    link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    base(href='/')
  body
    app-component(layout="row" layout-fill)
    // Piwik
    script(type='text/javascript').
      | var _paq = _paq || [];
      | _paq.push(['trackPageView']);
      | _paq.push(['enableLinkTracking']);
      | (function() {
      | var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.superservice-international.com/";
      | _paq.push(['setTrackerUrl', u+'piwik.php']);
      | _paq.push(['setSiteId', 15]);
      | var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      | g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      | })();
    noscript
      p
        img(src='http://analytics.superservice-international.com/piwik.php?idsite=15', style='border:0;', alt='')
    // End Piwik Code
