main(layout="column" layout-align="start center")
  h1.title Welcome to WABS!
  // Images (and assets) are parsed and loaded from within the public directory
  img(src='/img/logo.png')

footer(layout="column" layout-align="start center")
  a(ng-href='{{app.url}}') Webpack Angular Byteyard Starter
