server {
    listen   80;
    server_name waterpower.superservice-international.com www.memorycontest.city memorycontest.city;

    return 301 https://$host$request_uri;
}

server {
    listen   443 ssl;
    server_name waterpower.superservice-international.com www.memorycontest.city memorycontest.city;

    ssl_certificate /etc/letsencrypt/live/memorycontest.city/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/memorycontest.city/privkey.pem;

    root /var/www/waterpower/app/dist;
    index index.html;

    location /.well-known/ {
     root /var/www/waterpower;
    }
}
