server {
    listen   80;
    server_name waterpower.superservice-international.com www.memorycontest.city memorycontest.city;

    # return 301 https://$host$request_uri;
    root /var/www/waterpower/app/dist;
    index index.html;
}

# server {
#     listen   443 ssl;
#     server_name waterpower.superservice-international.com;
# 
#     ssl_certificate /etc/letsencrypt/live/waterpower.superservice-international.com/fullchain.pem;
#     ssl_certificate_key /etc/letsencrypt/live/waterpower.superservice-international.com/privkey.pem;
# 
#     root /var/www/waterpower;
#     index index.html;
# }
