md-toolbar
  .md-toolbar-tools
    h2 waterpower
    span(flex)
    md-button.md-icon-button(ng-link="['Memory']")
      md-icon play_circle_outline
    md-button.md-icon-button(ng-link="['Info']")
      md-icon info_outline

div(layout="row" layout-align="center" flex)
  div(layout="column" flex-xl="40" flex-lg="50" flex-md="50" flex-sm="75")

    div
      h1 memory city contest
      p Aenean lacinia bibendum nulla sed consectetur.

      h2 waterpower

      h2 superservice-international.com

.md-accent(layout-padding)
  p copyright waterpower + superservice-international.com
