md-toolbar
  .md-toolbar-tools
    h2 waterpower
    span(flex)
    md-button.md-icon-button(ng-link="['Memory']")
      md-icon play_circle_outline
    md-button.md-icon-button(ng-link="['Info']")
      md-icon info_outline

div(layout="row" layout-align="center" flex)
  div(layout="column" flex-xl="50" flex-lg="75")

    div
      h1 memorycity
      p Aenean lacinia bibendum nulla sed consectetur.
