md-toolbar
  .md-toolbar-tools
    h2 memorycontest.city
    span(flex)
    md-button.md-icon-button(ng-link="['Memory']")
      md-icon play_circle_outline
    md-button.md-icon-button(ng-link="['Info']")
      md-icon info_outline

md-content
  div(layout="row" layout-align="center" flex)
    div(layout="column" flex-xl="40" flex-lg="50" flex-md="50" flex-sm="75" layout-padding)

      div
        p
          strong Memorycontest.city&nbsp;
          | explores the practices of land and water access in Accra, the rapidly urbanizing capital of Ghana. Contestation emerges in the everyday actions and reactions of urban dwellers. Do-it-yourself or, in the case of water, carry-it-yourself, improvised infrastructural configurations and the re-use of objects are some of the strategies to access basic services and resources. Eventually, some secure land and water with their purchasing power, some not and others rely on solidarity of neighbors and families.

        p Are these practices of resistance, alternatives modes of governance, or forms of resource control? What is a just city? Who has the right to what?

        h3 About
        p Memorycontest.city brings together researchers of the Governance and Sustainability Lab (Trier University, Germany) and developers from superservice-international.com. The visual project draws from on-going research within WaterPower and fieldwork conducted in Accra 2015.
        p WaterPower is a laboratory for experimenting novel ways of doing research in urban water studies. The project contributes to current debates on society-nature relations by mapping, analyzing and understanding processes that unfold in the urban water sphere. For more information on the reaseach visit&nbsp;
          a(href="http://www.waterpower.science/") www.waterpower.science/.

        p For info about memorycontest.city and the research:
        p Rossella Alba,&nbsp;
          a(href="mailto:alba@uni-trier.de") alba@uni-trier.de
        p Lara Esther Bartels,&nbsp;
          a(href="mailto:bartels@uni-trier.de") bartels@uni-trier.de
        a(href="http://www.supersevice-international.com") supersevice-international.com

        p This software is open sourced on&nbsp;
          a(href="https://github.com/superservice-international/waterpower" target="_blank") github
          | .

        p copyright: waterpower &amp; superservice-international.com

  footer(layout="row" layout-align="space-around" layout-padding layout-wrap)
    div(flex-xl="10" flex-lg="15" flex-xs="50" flex-md="20" flex-sm="20")
      a(href="http://www.waterpower.science" target="_blank")
        img(src="/img/WaterPower_Logo.png")
    div(flex-xl="10" flex-lg="15" flex-xs="50" flex-md="20" flex-sm="20")
      img(src="/img/DLR_2015_trans.png")
    div(flex-xl="5" flex-lg="10" flex-xs="50" flex-md="20" flex-sm="20")
      img(src="/img/BMBF_2015_trans.png")
    div(flex-xl="5" flex-lg="10" flex-xs="50" flex-md="20" flex-sm="20")
      img(src="/img/claim_fona_en.jpg")
    div(flex-xl="10" flex-lg="15" flex-xs="50" flex-md="20" flex-sm="20")
      a(href="http://www.superservice-international.com" target="_blank")
        img(src="/img/superservice.png")
